header {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #141414;

  .logo {
    width: 100%;
    max-width: 92.5px;
  }
}

.categories-container {
  height: 1000px;
  background: #141414;

  .category-row {
    margin-bottom: 30px;
  }

  .image-row {
    display: flex;
    gap: 20px;

    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  h2 {
    color: #e5e5e5;
    margin-bottom: 10px;
  }

  img {
    object-fit: cover;
    min-width: 230px;
    height: 130px;
  }
}
